openapi: 3.1.0
info:
  title: Air Mess — Integration API
  version: "1.0.0"
  description: |
    Create Air Mess deliveries ("courses") automatically from your own
    application (e-commerce site, ERP, backend…).

    **Use case**: an order is placed on your store → you call Air Mess
    server-to-server → a delivery is created and offered to drivers around your
    pickup point.

    ## Authentication
    Every request uses an **integration key** (Bearer token) carrying the
    `integration:create-course` ability. The key is generated from your merchant
    account (plan including `api_access`). It is **secret**: never expose it in
    the browser.

    ## Billing (wallet)
    Each delivery created via the API is billed to the merchant through their
    Air Mess **wallet** (the `delivery_fee` is reserved on creation, then charged
    on delivery). If the balance is insufficient, the call returns `402` and the
    delivery is not created: top up the wallet from your dashboard.

    ## Idempotency
    Send the same `external_reference` (your order number) to avoid duplicates:
    a second call returns the existing delivery with a `200` status.
  contact:
    name: Air Mess Support
    email: support@airmess-logistics.com

servers:
  - url: https://api.airmess-logistics.com/api
    description: Production
  - url: http://127.0.0.1:8000/api
    description: Local (development)

tags:
  - name: Deliveries
    description: Create deliveries from an external system.
  - name: Keys
    description: Manage integration keys (from the merchant account).

security:
  - integrationKey: []

paths:
  /integration/courses:
    post:
      tags: [Deliveries]
      summary: Create a delivery
      description: |
        Creates a delivery. **Idempotent** on `external_reference`.

        Driver matching happens around the **pickup** point (`origin`). If
        `origin.lat`/`origin.lng` are provided, the delivery moves to
        `awaiting_assignment` (offered immediately). Otherwise it stays in
        `awaiting_geo` until the pickup point is geolocated.
      operationId: createCourse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseRequest'
            examples:
              withGps:
                summary: With pickup coordinates (immediate dispatch)
                value:
                  external_reference: "GB-ORD-10293"
                  source: "gbandjo"
                  urgency: "standard"
                  origin:
                    name: "Boutique Awa"
                    phone: "+22990000001"
                    quartier: "Gbegamey"
                    city: "Cotonou"
                    lat: 6.37
                    lng: 2.41
                  destination:
                    name: "Koffi"
                    phone: "+22997000002"
                    address: "Blue house, opposite the market"
                    quartier: "Calavi"
                    city: "Abomey-Calavi"
                  package:
                    description: "Order #10293"
                    size: "M"
      responses:
        '201':
          description: Delivery created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CourseResponse' }
              example:
                message: "Delivery created. Awaiting assignment."
                reference: "AM-2026-00042"
                status: "awaiting_assignment"
                tracking_url: "https://api.airmess-logistics.com/t/EqVC0WhyTs"
                delivery_fee: 1500
        '200':
          description: Delivery already exists for this `external_reference` (idempotency).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CourseResponse' }
        '401':
          description: Missing or invalid key.
        '403':
          description: |
            Key without the ability, merchant account not validated, or a plan
            without `api_access` (reserved to Starter, Pro and Business).
        '402':
          description: |
            Insufficient wallet balance to bill the delivery. The merchant must
            top up their wallet (the delivery is not created).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InsufficientFundsError' }
        '422':
          description: Validation failed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidationError' }
        '429':
          description: Too many requests (limit 60/min per key).

  /integration/keys:
    get:
      tags: [Keys]
      summary: List your integration keys
      description: Authenticated with the **merchant session** (not the key). Does not return the key values.
      operationId: listKeys
      responses:
        '200': { description: List of keys. }
    post:
      tags: [Keys]
      summary: Generate an integration key
      description: Authenticated with the **merchant session**. The plaintext value is returned here only once.
      operationId: createKey
      responses:
        '201':
          description: Key created.
          content:
            application/json:
              example:
                message: "Integration key generated. Copy it now: it will not be shown again."
                id: 146
                key: "146|k71gsCLTNMkLGWPZQMbTTb9tqygexUAcupMN9yzxff902cc3"
  /integration/keys/{id}:
    delete:
      tags: [Keys]
      summary: Revoke a key
      operationId: revokeKey
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Key revoked. }
        '404': { description: Key not found. }

components:
  securitySchemes:
    integrationKey:
      type: http
      scheme: bearer
      description: Integration key (Bearer token, ability `integration:create-course`).

  schemas:
    Origin:
      type: object
      required: [name, phone, quartier, city]
      properties:
        name: { type: string, maxLength: 150, example: "Boutique Awa" }
        phone: { type: string, maxLength: 20, example: "+22990000001" }
        street: { type: string, nullable: true }
        landmark: { type: string, nullable: true }
        quartier: { type: string, maxLength: 100, description: "Neighbourhood.", example: "Gbegamey" }
        city: { type: string, maxLength: 100, example: "Cotonou" }
        lat: { type: number, format: float, nullable: true, example: 6.37 }
        lng: { type: number, format: float, nullable: true, example: 2.41 }
        instructions: { type: string, nullable: true }

    Destination:
      type: object
      required: [phone]
      properties:
        name: { type: string, nullable: true, example: "Koffi" }
        phone: { type: string, maxLength: 20, description: "Customer's WhatsApp number.", example: "+22997000002" }
        address: { type: string, nullable: true, description: "Free-text address." }
        landmark: { type: string, nullable: true }
        quartier: { type: string, nullable: true, description: "Neighbourhood." }
        city: { type: string, nullable: true }
        lat: { type: number, format: float, nullable: true }
        lng: { type: number, format: float, nullable: true }
        instructions: { type: string, nullable: true }

    Package:
      type: object
      properties:
        category_id: { type: integer, nullable: true, description: "Default: the standard category." }
        description: { type: string, nullable: true }
        size: { type: string, enum: [S, M, L, XL], default: M }

    CourseRequest:
      type: object
      required: [origin, destination]
      properties:
        external_reference:
          type: string
          maxLength: 100
          description: "The order identifier in YOUR system (idempotency)."
          example: "GB-ORD-10293"
        source: { type: string, maxLength: 30, example: "gbandjo" }
        urgency: { type: string, enum: [standard, express], default: standard }
        origin: { $ref: '#/components/schemas/Origin' }
        destination: { $ref: '#/components/schemas/Destination' }
        package: { $ref: '#/components/schemas/Package' }
        collection_amount: { type: number, nullable: true, description: "If present, cash-on-delivery is enabled." }
        collection_method: { type: string, enum: [cash, mobile_money, prepaid], nullable: true }

    CourseResponse:
      type: object
      properties:
        message: { type: string }
        reference: { type: string, example: "AM-2026-00042" }
        status:
          type: string
          enum: [awaiting_geo, awaiting_assignment]
          example: "awaiting_assignment"
        tracking_url: { type: string, format: uri }
        delivery_fee: { type: integer, example: 1500 }

    InsufficientFundsError:
      type: object
      properties:
        message: { type: string, example: "Insufficient wallet balance. Top up your wallet to create deliveries via the API." }
        insufficient_funds: { type: boolean, example: true }
        available: { type: integer, description: "Available balance (FCFA).", example: 500 }
        required: { type: integer, description: "Amount required (delivery_fee, FCFA).", example: 1500 }

    ValidationError:
      type: object
      properties:
        message: { type: string }
        errors:
          type: object
          additionalProperties:
            type: array
            items: { type: string }
